body {
  background-color: white;
  color: #333;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
header {
  background-color: rgb(108, 25, 119);
  padding: 20px;
  width: 100%;
  text-align: center;
}
h1 {
  color: #fff;
}
.wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: stretch;
}
.menu {
  background-color: mediumpurple;
  padding: 10px;
  flex: 0 0 auto;
  width: 200px;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu ul li {
  margin-bottom: 5px;
}
.menu ul li a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}
main {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
footer {
  background-color:rgb(108, 25, 119);
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100%;
}
table {
  border-collapse: collapse;
  width: 100%;
  border: #ddd 1px solid;
}
th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
table tr:hover td {
  background-color: mediumpurple;
}
.map-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* Proporção 16:9 (56.25% = 9 / 16 * 100) */
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.parallax {
  background-image: url('/img/banner3.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parallax h1 {
  color: #fff;
}